.status-bar {
    position: sticky; /*fixed를 줬지만 스테이터스바와 헤더바가 겹치는 현상으로 인해 고침*/
    width: 100%;
    top: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.status-bar_column {
    
    width: 33%;
    padding: 5px 3px;
    
}

.status-bar_column:first-child span{
    margin-right: 5px;
}

.status-bar_column:nth-child(2){
    display: flex;
    justify-content: center;
}

.status-bar_column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar_column .fa-battery-full {
    margin: 0px 5px;
}
